@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <label>@ViewBag.UserName</label>  
    @{
        if (ViewBag.UserName == "Welcome: Admin")
        {
            Layout = "~/Views/Shared/layoutNo.cshtml";
        }
        else if (ViewBag.UserName=="Welcome: New user")
        {
            Layout = "~/Views/Shared/layoutNew.cshtml";
        }
        else if (ViewBag.UserRole =="Doctor")
        {
            Layout = "~/Views/Shared/layoutDoctor.cshtml";
        }
        else if (ViewBag.UserRole == "Volunteer")
        {
            Layout = "~/Views/Shared/layoutVolunteer.cshtml";
        }
        else if (ViewBag.UserRole == "Patient")
        {
            Layout = "~/Views/Shared/layoutPatient.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";

        }
    }
    <h1>Corona Statistics</h1>
    <iframe src="https://www.bing.com/covid?ref=embedding" style="width: 100%; height: 500px; max-width: 1272px; border: none;"></iframe>

    <div class="bingwidget" data-type="covid19" data-market="en-us" data-language="en-us"></div>

    <script src="//www.bing.com/widget/bootstrap.answer.js" async=""></script>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>*@
</div>