@model BPRCoronaFighter.Models.Admin

@{
	ViewBag.Title = "Admin Video Library";
}

<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<link rel="stylesheet" href="~/Content/admin-panel.css">
	<script src="~/Scripts/admin-panel.js"></script>
</head>
<body>
	<!-- Side navigation -->
	<div class="sidenav">
		<a href="AdminPanel">Dashboard</a>
		<a href="AdminMyAccount">My account</a>
		<a href="AdminApprovedUsers">Aprroved Users</a>
		<a href="AdminDeclinedUsers">Declined Users</a>
		<a href="AdminVideoLibrary">Video Library</a>
	</div>

	<!-- Page content -->
	<div class="main">
		
	</div>
</body>
</html>