/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: auto; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body{
  background-color:lightblue;
}
.table{
  margin-left:60px;
  margin-top:50px;
  padding-bottom:220px;
  background-color:white;
  width:85%;  
}

.thead-dark tr{
 background-color:#212529 !important;
 color:white;
}

tr,th{
  height:4rem;
  text-align:center;
}

tr:hover{
  background-color: #d9d9d9;
  cursor: pointer;
}
img {
  border: 2.5px solid #446;
}
.d-none {
    display: none!important;
}

.cuantEdit {
    width: 7rem;
    display: inline-flex;
}

.recordsControl span{
  cursor: pointer;
}

.recordsControl span:hover{
  color: #cc9900;
}
a.video {
  padding-bottom: 12px;
}
#youtube-gallery{
  color: #3399CC;
  font-weight: 800;
}
.box-title {
  color: white;
  font-weight: 600;
  background-color: purple;
  text-align: center;
  padding: 12px 0 12px;
}
.container2{
  padding-bottom: 22px;
}
.modal {
  background-color: rgba(0,0,0,0.4);
}
.modal-header {
  border-bottom: 1px solid #505050;
  padding: 12px 16px 6px 16px;
  .modal-title {
    color: #ccc;
   
    margin: 0;
  }
  .close {
    font-size: 32px;
    opacity: 1.0;
    color: #ccc;
    text-shadow: none;
    outline: none;
  }
}
.modal-content {  
  border-radius:0;
  border: 0;
  background-color: #323232;
}
.img-responsive { width: 100%; }
button.btn-play {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  margin-left: -15px;
  border: 0;
  border-radius: 0;
  outline: 0 !important;
  width: 100%;
  background-color: transparent;
  color: rgba(245, 245, 245, 0.8);
  &:hover, &:active, &:visited, &:focus {
    color: rgba(255, 255, 255, 1.0);
  }
  .glyphicon {
    padding: 0;
    margin: 0;
    color: inherit;
    background-color: inherit;
    font-size: 64px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  button.btn-play {
    .glyphicon {
      font-size: 56px;
    }
  } 
}
@media (min-width: 768px) and (max-width: 991px) {
  button.btn-play {
    .glyphicon {
      font-size: 46px;
    }
  } 
}
@media (max-width: 767px) {
  a.video {
    display: block;
    padding-bottom: 12px;
  }
   button.btn-play {
    .glyphicon {
      font-size: 56px;
    }
  }  
}
@media only screen and (min-width: 48em){
  .paragraph--type--header .header-breadcrumb .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}